
#carletest{
    
    width: 850px;
    margin-left: 2%;
    
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 5px;
    margin-top: 40px;
     
}

.letest-b{
     
}
